<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
</head>
<body>
<!-- navbar -->
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<header class="py-2">
    <div class="container px-lg-5">
        <div class="fs-3 fw-bold mb-4">
            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/clipboard2-fill.svg}"></image>
            </svg>
            권한 관리
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <table style="width:100%;">
                <tr>
                    <td style="width: 18%" align="right">
                        <input type="text" id="listSearch" class="form-control form-control-sm" placeholder="SEARCH"
                               style="width:120px;">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</header>
<!-- Page Content-->
<main>
    <section class="pt-1">
        <div class="container px-lg-5">
            <div class="mb-1 fs-4 gx-5 row">
                <div class="col">
                    총 <span class="fw-bold" id="listTotCnt">0</span>건이 조회되었습니다.
                </div>
                <div class="col text-end">
                    <button type="button" id="addAuth" class="btn btn-secondary"
                            data-bs-toggle="modal" data-bs-target="#addManagerModal">추가</button>
                    <button type="button" id="deleteAuth" class="btn btn-secondary">삭제</button>
                </div>
            </div>
            <div class="table-responsive-xxl">
                <table id="authTable"
                       class="text-center table table-bordered align-middle">
                    <thead class="table-secondary">
                    <tr>
                        <th scope="col" style="width:5%;">
                            <input class="form-check-input me-1" type="checkbox" id="checkAll">
                        </th>
                        <th scope="col" style="width:11%;">No.</th>
                        <th scope="col" style="width:21%;">부서</th>
                        <th scope="col" style="width:21%;">팀</th>
                        <th scope="col" style="width:21%;">직급</th>
                        <th scope="col" style="width:21%;">이름</th>
                        <th scope="col" style="display:none">userId</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
<!-- Modal -->
<div class="modal fade" id="addManagerModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">관리자 추가</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
                    <table style="width:100%;">
                        <tr>
                            <td style="width: 18%">
                                <input type="text" id="addSearch" class="form-control form-control-sm"
                                       placeholder="SEARCH" style="width:120px;">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="fs-6 mb-2 ms-1">
                    <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                         viewBox="0 0 16 16">
                        <image th:href="@{/icons/briefcase-fill.svg}"></image>
                    </svg>
                    사용자 목록
                </div>
                <div class="table-responsive-xxl">
                    <table id="addManagerTable"
                           class="text-center table table-hover table-bordered align-middle">
                        <thead class="table-secondary">
                        <tr>
                            <th scope="col" style="width:21%;">부서</th>
                            <th scope="col" style="width:21%;">팀</th>
                            <th scope="col" style="width:21%;">직급</th>
                            <th scope="col" style="width:21%;">이름</th>
                            <th scope="col" style="display:none">userId</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalAddBtn" class="btn btn-primary">추가</button>
                <button type="button" id="modalCloseBtn" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="/fragments/footer.html :: fragment-footer">
</footer>
<!-- Core theme JS-->
<script th:replace="/fragments/script.html :: fragment-script"></script>
<script th:src="@{/js/corpcard/admin/auth.js}"></script>
<script>
    $(function () {
        $auth.init();
    });
</script>
</body>
</html>
