<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
</head>
<body>
<!-- navbar -->
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<header class="py-2">
    <div class="container px-lg-5">
        <div class="fs-3 fw-bold mb-4">
            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/clipboard2-fill.svg}"></image>
            </svg>
            내역 관리
        </div>
        <div class="fs-5 mb-2 ms-1">
            <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/briefcase-fill.svg}"></image>
            </svg>
            월별 통계
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <table style="width:100%;">
                <tr>
                    <th class="pe-3" style="width:10%;">검색 기간</th>
                    <td style="width:20%;">
                        <input type="text" id="statDatePicker" class="form-control" style="width:250px">
                    </td>
                    <td style="width: 45%;"></td>
                    <th class="pe-3 fs-3 fw-bold" style="width:10%;" align="right">합계 :</th>
                    <td align="right" class="fs-3 fw-bold" id="chartSum">
                        xxx,xxx원
                    </td>
                </tr>
            </table>
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <div class="row gx-lg-2">
                <div class="p-1 col">
                    <div class="card bg-light border-0 h-100 bg-white chart" style="height:350px" id="monthChart">
                    </div>
                </div>
                <div class="p-1 col">
                    <div class="card bg-light border-0 h-100 bg-white" style="height:350px" id="teamChart">
                    </div>
                </div>
                <div class="p-1 col">
                    <div class="card bg-light border-0 h-100 bg-white chart" style="height:350px" id="classChart">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="fs-5 mb-2 ms-1">
            <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/briefcase-fill.svg}"></image>
            </svg>
            사용내역 조회
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <form id="approvalForm" onsubmit="return false;">
                <table style="width:100%;">
                    <tr>
                        <th class="ps-1" style="width:5%; text-align:right;">부서</th>
                        <td style="width:15%;">
                            <select class="form-select form-select-sm" id="deptSelect" name="dept" required>
                                <option value="ALL" selected>전체</option>
                            </select>
                        </td>
                        <th class="ps-1" style="width:3%; text-align:right;">팀</th>
                        <td style="width:15%;">
                            <select class="form-select form-select-sm" id="teamSelect" name="team" required>
                                <option value="ALL" selected>전체</option>
                            </select>
                        </td>
                        <th class="ps-1" style="width:5%; text-align:right;">기안자</th>
                        <td style="width:15%;">
                            <input type="text" name="writerNm" class="form-control form-control-sm">
                        </td>
                        <th class="ps-1" style="width:5%; text-align:right;">기간</th>
                        <td style="width:20%">
                            <input type="text" id="datepicker" class="form-control form-control-sm">
                        </td>
                        <td class="ps-2">
                            <input type="submit" id="histSubmit" class="btn btn-secondary btn-sm" value="조회">
                        </td>
                        <td style="width: 20%" align="right">
                            <input type="text" id="listSearch" class="form-control form-control-sm" placeholder="SEARCH" style="width:120px;">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <form id="histForm" onsubmit="return false;">
            <table class="mb-1 table table-sm table-bordered align-middle table-style1">
                <tr>
                    <th>사용내역
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <input type="text" name="useHist" class="form-control" required="required" maxlength="25">
                    </td>
                    <th>분류
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <select class="form-select" id="classSelect" name="classSeq" required>
                            <option value="" selected>---</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>사용일시
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <input type="date" class="form-control" id="useDate" name="useDate" required>
                    </td>
                    <th>금액(원)
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <input type="text" class="form-control input-money" style="text-align:right;" name="money"
                               id="histMoney" required>
                    </td>
                </tr>
                <tr>
                    <th>카드정보
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td colspan="3">
                        <select class="form-select" id="cardSelect" name="cardSelect" required>
                            <option value="" selected>---</option>
                        </select>
                    </td>
                </tr>
                <input type="text" name="seq" class="form-control" style="visibility:hidden;">
            </table>
            <div class="text-center mb-4">
                <button type="submit" id="histSave" class="btn btn-secondary">작성</button>
                <button type="submit" id="histUpdate" class="btn btn-secondary" style="display:none;">수정</button>
                <button type="button" id="histReset" class="btn btn-gray">초기화</button>
            </div>
        </form>
        <div class="mb-1 fs-4 gx-5 row">
            <div class="col">
                총 <span class="fw-bold" id="listTotCnt"></span>건이 조회되었습니다. - <span class="fw-bold" id="stateNm"></span>
            </div>
            <div class="col text-end">
                <button class="btn btn-secondary" id="histAtchBtn">첨부파일</button>
                <button type="button" id="deleteRow" class="btn btn-secondary">삭제</button>
            </div>
        </div>
        <div class="table-responsive-xxl">
            <table id="histTable"
                   class="text-center table table-hover table-bordered table-sm align-middle table-style2">
                <thead class="table-secondary">
                <tr>
                    <th scope="col">
                        <input class="form-check-input me-1" type="checkbox" id="checkAll">
                    </th>
                    <th scope="col">사용일</th>
                    <th scope="col">카드 정보</th>
                    <th scope="col" style="width:150px;">사용내역</th>
                    <th scope="col" class="th-style1">접대비</th>
                    <th scope="col" class="th-style1">여비교통비</th>
                    <th scope="col" class="th-style1">복리후생비</th>
                    <th scope="col" class="th-style1">출장비</th>
                    <th scope="col" class="th-style1">소모품비</th>
                    <th scope="col" class="th-style1">차량유지비</th>
                    <th scope="col" class="th-style1">도서구입비</th>
                    <th scope="col" class="th-style1">교육비</th>
                    <th scope="col" class="th-style1">지급수수료</th>
                    <th scope="col" class="th-style1">기타</th>
                    <th scope="col" style="width:100px;">합계</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!--첨부파일 toast-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="status" aria-live="polite" aria-atomic="true"
             data-bs-autohide="false">
            <div class="toast-header">
                <img th:src="@{/icons/paperclip.svg}" class="rounded me-2">
                <strong class="me-auto">첨부파일</strong>
                <small>
                    파일 <span id="atchCnt"></span>개
                </small>
                <button type="button" class="ms-2 btn btn-outline-secondary btn-sm" id="atchAddBtn">추가</button>
                <label for="atchUpload" class="" style="display:none">
                    <input type="file" name="atchUpload" id="atchUpload" accept=".png, .jpg, .pdf" multiple/>
                </label>
                <button type="button" class="ms-2 btn btn-outline-danger btn-sm" id="atchDelBtn">삭제</button>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                        id="toastCloseBtn"></button>
            </div>
            <div class="toast-body">
                <span id="atchEmpty">해당 연월의 첨부파일이 없습니다.</span>
                <ul class="list-group" id="atchList">
                    <li class="list-group-item">
                        <input class="form-check-input me-1 atch-check" type="checkbox" value="">
                        First checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Second checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Third checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Fourth checkbox
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="">
                        Fifth checkbox
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer th:replace="/fragments/footer.html :: fragment-footer">
</footer>
<!-- Core theme JS-->
<script th:replace="/fragments/script.html :: fragment-script"></script>
<script th:src="@{/js/corpcard/admin/hist.js}"></script>
<script>
    $(function () {
        $adminHist.init();
    });
</script>
</body>
</html>
