<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="OJT-Project"/>
    <meta name="author" content="djseol"/>
    <title>법인카드 결제내역 시스템</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/static/icons/favicon.ico}"/>
    <!-- Bootstrap icons-->
    <link th:href="@{/static/font/bootstrap-icons.css}" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/static/css/libs/bootstrap_5.02/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
<h1 th:fragment="header">Header</h1>
</body>
</html>