<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="fragment-nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-lg-5">
      <a class="navbar-brand" th:href="@{/payhist}">법인카드 결제내역 시스템</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/payhist}">결제내역</a></li>
          <li class="nav-item"><a class="nav-link" th:href="@{/approval}"></a>결재</li>
          <li class="nav-item"><a class="nav-link" th:href="@{/manage}">관리자</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</html>