<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="fragment-header">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content="OJT-Project"/>
        <meta name="author" content="djseol"/>
        <title>법인카드 결제내역 시스템</title>
        <!-- CSS -->
        <link th:href="@{/css/libs/bootstrap_5.02/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/libs/bootstrap_5.02/daterangepicker.css}" rel="stylesheet"/>
        <link th:href="@{/css/corpcard/common.css}" rel="stylesheet"/>
        <!-- JS -->
        <script th:src="@{/js/libs/jquery/jquery-3.6.1.min.js}"></script>
        <script th:src="@{/js/libs/bootstrap_5.02/bootstrap.bundle.min.js}"></script>
        <!-- Date_range_picker -->
        <script th:src="@{/js/libs/bootstrap_5.02/moment.min.js}"></script>
        <script th:src="@{/js/libs/bootstrap_5.02/daterangepicker.js}"></script>
        <!-- echarts -->
        <script th:src="@{/js/libs/echart-5.1.2/echarts.min.js}"></script>
        <!-- common JS -->
        <script th:src="@{/js/corpcard/common.js}"></script>
    </head>
</html>