<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
</head>
<body>
<!-- navbar -->
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<header class="py-2">
    <div class="container px-lg-5">
        <div class="fs-3 fw-bold mb-4">
            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/clipboard2-fill.svg}"></image>
            </svg>
            결재
        </div>
        <div class="fs-5 mb-2 ms-1">
            <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/briefcase-fill.svg}"></image>
            </svg>
            결재 건 조회
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <form id="approvalForm" onsubmit="return false;">
                <table style="width:100%;">
                    <tr>
                        <th class="ps-1" style="width:5%; text-align:right;">부서</th>
                        <td style="width:15%;">
                            <select class="form-select form-select-sm" id="deptSelect" name="dept" required>
                            </select>
                        </td>
                        <th class="ps-1" style="width:3%; text-align:right;">팀</th>
                        <td style="width:15%;">
                            <select class="form-select form-select-sm" id="teamSelect" name="team" required>
                                <option value="ALL" selected>전체</option>
                            </select>
                        </td>
                        <th class="ps-1" style="width:5%; text-align:right;">기안자</th>
                        <td style="width:15%;">
                            <input type="text" name="writerNm" class="form-control form-control-sm">
                        </td>
                        <th class="ps-1" style="width:7%; text-align:right;">제출 날짜</th>
                        <td style="width:20%">
                            <input type="text" name="submitDate" id="datepicker" class="form-control form-control-sm">
                        </td>
                        <td class="ps-2">
                            <input type="submit" id="approvalSubmit" class="btn btn-secondary btn-sm" value="조회">
                        </td>
                        <td style="width: 18%" align="right">
                            <input type="text" id="listSearch" class="form-control form-control-sm" placeholder="SEARCH" style="width:120px;">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="table-responsive-xxl">
            <table id="approvalTable" style="width:100%"
                   class="text-center table table-hover table-bordered table-sm align-middle">
                <thead class="table-secondary">
                <tr>
                    <th scope="col" style="width:10%;">No.</th>
                    <th scope="col" style="width:20%;">부서</th>
                    <th scope="col" style="width:15%;">팀</th>
                    <th scope="col" style="width:10%;">직위</th>
                    <th scope="col" style="width:10%;">기안자</th>
                    <th scope="col" style="width:10%;">제출 날짜</th>
                    <th scope="col" style="width:10%;">상태</th>
                    <th scope="col" style="width:15%;">합계(원)</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</header>
<!-- Page Content-->
<main>

    <section class="pt-4">
        <div class="container px-lg-5">
            <div class="mb-1 fs-4 gx-5 row">
                <div class="col">
                    총 <span class="fw-bold" id="listTotCnt">0</span>건이 조회되었습니다.
                </div>
                <div class="col text-end">
                    <button class="btn btn-secondary" id="histAtchBtn">첨부파일</button>
                    <button type="button" id="approvalHist" class="btn btn-primary" style="display:none;">확인</button>
                    <button type="button" id="rejectHist" class="btn btn-danger" style="display:none;">반려</button>
                </div>
            </div>
            <div class="table-responsive-xxl">
                <table id="histTable"
                       class="text-center table table-bordered table-sm align-middle table-style2">
                    <thead class="table-secondary">
                    <tr>
                        <th scope="col">사용일</th>
                        <th scope="col">카드 정보</th>
                        <th scope="col" style="width:150px;">사용내역</th>
                        <th scope="col" class="th-style1">접대비</th>
                        <th scope="col" class="th-style1">여비교통비</th>
                        <th scope="col" class="th-style1">복리후생비</th>
                        <th scope="col" class="th-style1">출장비</th>
                        <th scope="col" class="th-style1">소모품비</th>
                        <th scope="col" class="th-style1">차량유지비</th>
                        <th scope="col" class="th-style1">도서구입비</th>
                        <th scope="col" class="th-style1">교육비</th>
                        <th scope="col" class="th-style1">지급수수료</th>
                        <th scope="col" class="th-style1">기타</th>
                        <th scope="col" style="width:100px;">합계</th>
                        <th scope="col" style="display:none">seq</th>
                        <th scope="col" style="display:none">상태 code</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!--첨부파일 toast-->
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="status" aria-live="polite" aria-atomic="true"
                 data-bs-autohide="false">
                <div class="toast-header">
                    <img th:src="@{/icons/paperclip.svg}" class="rounded me-2">
                    <strong class="me-auto">첨부파일</strong>
                    <small>
                        파일 <span id="atchCnt"></span>개
                    </small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"
                            id="toastCloseBtn"></button>
                </div>
                <div class="toast-body">
                    <span id="atchEmpty">해당 결재 건의 첨부파일이 없습니다.</span>
                    <ul class="list-group" id="atchList">
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
<footer th:replace="/fragments/footer.html :: fragment-footer">
</footer>
<!-- Core theme JS-->
<script th:replace="/fragments/script.html :: fragment-script"></script>
<script th:src="@{/js/corpcard/approval.js}"></script>
<script>
    $(function () {
        $approval.init();
    });
</script>
</body>
</html>
