<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/header.html :: fragment-header">
</head>
<body>
<!-- navbar -->
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<header class="py-2">
    <div class="container px-lg-5">
        <div class="fs-3 fw-bold mb-4">
            <svg class="mb-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/clipboard2-fill.svg}"></image>
            </svg>
            결제 내역
        </div>
        <div class="fs-5 mb-2 ms-1">
            <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/briefcase-fill.svg}"></image>
            </svg>
            기간별 통계
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <table>
                <tr>
                    <th class="pe-3">검색 기간</th>
                    <td>
                        <input type="text" id="datepicker" class="form-control" style="width:250px">
                    </td>
                </tr>
            </table>
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <table class="fs-5 fw-bold">
                <tr>
                    <th class="pe-3">총 합계 :</th>
                    <td id="totalSum">

                    </td>
                    <th class="pe-3"><span id="curMonth">12월</span> 합계 :</th>
                    <td id="monthSum">

                    </td>
                </tr>
            </table>
            <div class="row gx-lg-2">
                <div class="p-1 col-lg-6 col-xxl-6">
                    <div class="card bg-light border-0 h-100 bg-white chart" style="height:400px" id="chart-bar">
                    </div>
                </div>
                <div class="p-1 col-lg-6 col-xxl-6">
                    <div class="card bg-light border-0 h-100 bg-white" style="height:400px" id="chart-pie">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="fs-5 mb-2 ms-1">
            <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                 viewBox="0 0 16 16">
                <image th:href="@{/icons/briefcase-fill.svg}"></image>
            </svg>
            결제 내역
        </div>
        <div class="p-lg-3 mb-2 bg-grey rounded-3 text-center">
            <table>
                <tr>
                    <th class="pe-3">작성 연월</th>
                    <td>
                        <input type="month" id="payhist-month" class="form-control">
                    </td>
                </tr>
            </table>
        </div>
        <form>
            <table class="mb-1 table table-sm table-bordered align-middle table-style1">
                <tr>
                    <th>사용내역
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <input type="text" class="form-control" required="required">
                    </td>
                    <th>분류
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <select class="form-select" id="classSelect">
                            <option value="">---</option>
                            <option>test2</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>사용일시
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <input type="date" class="form-control" required>
                    </td>
                    <th>금액
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td>
                        <input type="text" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <th>카드정보
                        <svg class="mb-1" xmlns="http://www.w3.org/2000/svg" width="8" height="8"
                             viewBox="0 0 16 16">
                            <image class="svg-red" th:href="@{/icons/asterisk.svg}"></image>
                        </svg>
                    </th>
                    <td colspan="3">
                        <select class="form-select">
                            <option>test1</option>
                            <option>test2</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="text-center mb-4">
                <button type="submit" class="btn btn-secondary">작성</button>
                <button type="button" class="btn btn-gray">초기화</button>
            </div>
        </form>
        <div class="mb-1 fs-4 gx-5 row">
            <div class="col">
                총 <span class="fw-bold" id="tot-cnt"></span> 건이 조회되었습니다. - <span class="fw-bold" id="status"></span>
            </div>
            <div class="col text-end">
                <button class="btn btn-secondary" id="payhist-atch">첨부파일</button>
                <button type="button" class="btn btn-danger">PDF</button>
                <button type="button" class="btn btn-success">CSV</button>
                <button type="button" class="btn btn-primary">제출</button>
                <button type="button" class="btn btn-secondary">저장</button>
                <button type="button" class="btn btn-secondary">삭제</button>
            </div>
        </div>
        <div class="table-responsive-xxl">
            <table id="histTable"
                   class="text-center table table-hover table-bordered table-sm align-middle table-style2">
                <thead class="table-secondary">
                <tr>
                    <th scope="col">
                        <input class="form-check-input me-1" type="checkbox" id="checkbox-all">
                    </th>
                    <th scope="col">사용일</th>
                    <th scope="col">카드 정보</th>
                    <th scope="col" style="width:150px;">사용내역</th>
                    <th scope="col" class="th-style1">접대비</th>
                    <th scope="col" class="th-style1">여비교통비</th>
                    <th scope="col" class="th-style1">복리후생비</th>
                    <th scope="col" class="th-style1">출장비</th>
                    <th scope="col" class="th-style1">소모품비</th>
                    <th scope="col" class="th-style1">차량유지비</th>
                    <th scope="col" class="th-style1">도서구입비</th>
                    <th scope="col" class="th-style1">교육비</th>
                    <th scope="col" class="th-style1">지급수수료</th>
                    <th scope="col" class="th-style1">기타</th>
                    <th scope="col" style="width:100px;">합계</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">
                        <input class="form-check-input me-1" type="checkbox" value="">
                    </th>
                    <td>12.04</td>
                    <td>신한 XXXX</td>
                    <td>XX 프로젝트 중식</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>28,000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>28,000</td>
                </tr>
                <tr class="fw-bold">
                    <th colspan="4">합계</th>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>28,000</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>28,000</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--첨부파일 toast-->
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img th:src="@{/icons/paperclip.svg}" class="rounded me-2">
                <strong class="me-auto">첨부파일</strong>
                <small>
                    파일 <span id="atch-cnt">11</span>개
                </small>
                <button type="button" class="ms-2 btn btn-outline-danger btn-sm">삭제</button>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    First checkbox
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Second checkbox
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Third checkbox
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Fourth checkbox
                </li>
                <li class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Fifth checkbox
                </li>
            </ul>
        </div>
    </div>
</section>
<input type="hidden" th:value="${#authentication.name}" id="userId">
<!-- Footer-->
<footer th:replace="/fragments/footer.html :: fragment-footer">
</footer>
<!-- Core theme JS-->
<script th:src="@{/js/corpcard/payhist.js}"></script>
<script>
    $(function () {
        $payhist.init();
    });


</script>
</body>
</html>
